---
layout: default
---

<div class="container">

  {% bookshop page-heading title=page.title description=page.subtitle %}
  {% assign page_image = site.baseurl | append: page.image %}
  {% bookshop page-image image=page_image %}

  <div class="page animate">
    {{ content }}
  </div>

  {% if page.previous.url %}
  <div class="experience__navigation animate">
    <a class="experience__prev" href="{{page.previous.url}}">
      <div class="experience__box">
        <span class="experience__nav__info">Next Experience</span>
        <h2 class="experience__nav__title">{{page.previous.title}}<i class="ion ion-md-arrow-round-forward arrow-right"></i></h2>
      </div>
    </a>
  </div>
  {% endif %}

</div>